{% extends 'base.html' %}
{%load static%}

{% block title %} post reply {% endblock  %}

{%  block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'index' %}"> Boards</a></li>
    <li class="breadcrumb-item "><a href="{% url 'boards_topic' topic.board.pk %}">{{topic.board.name}}</a></li>
<li class="breadcrumb-item "><a href="{% url 'topic_posts' topic.board.pk topic.pk%}"> {{topic.subject}}</a></li>
<li class="breadcrumb-item active ">post reply</li>
{% endblock %}
    {% block content %}

    <form method="post" >
        {%csrf_token%}
        {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">submit</button>
    </form>

    {% endblock %}
